/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Goudy Bookletter 1911', serif;
  font-family: 'Gentium Book Basic', serif;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav-bar1 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 1rem;
}
@media (max-width: 500px) {
  .nav-bar1 {
    justify-content: center;
    height: 10rem;
    text-align: center;
  }
}
.nav-bar1 button {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  border: none;
  float: right;
  cursor: pointer;
}
.nav-bar1 button img {
  width: 150%;
  height: 150%;
}
.nav-bar1 .dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}
.nav-bar1 .dropdown a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
@media (max-width: 500px) {
  .nav-bar1 .dropdown a {
    display: inline-flex;
    padding: 0.1rem 1rem;
  }
}
.nav-bar1 .dropdown a:hover {
  background-color: #6F5E76;
  color: white;
}
.nav-bar1:hover .dropdown {
  display: block;
  margin-top: 6rem;
}
.nav-bar2 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 1rem;
}
@media (max-width: 500px) {
  .nav-bar2 {
    justify-content: center;
    height: 10rem;
    text-align: center;
  }
}
.nav-bar2 button {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  border: none;
  float: right;
  cursor: pointer;
}
.nav-bar2 button img {
  width: 150%;
  height: 150%;
}
.nav-bar2 .dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}
.nav-bar2 .dropdown a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-flex;
  text-align: right;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 500px) {
  .nav-bar2 .dropdown a {
    display: inline-flex;
    padding: 0.1rem 1rem;
  }
}
.nav-bar2 .dropdown a:hover {
  background-color: #6F5E76;
  color: white;
}
.nav-bar2:hover .dropdown {
  display: block;
  margin-top: 2rem;
  padding-right: 6rem;
}
@media (max-width: 500px) {
  .nav-bar2:hover .dropdown {
    margin-top: 6rem;
  }
}
.border {
  width: 85%;
  height: 60px;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .border {
    display: none;
  }
}
footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 2rem;
}
footer .footer-text {
  text-align: center;
  margin-top: 2rem;
}
footer .footer-text button {
  font-size: 1rem;
  background: #6F5E76;
  text-align: center;
  width: 7rem;
  margin: 0 auto;
  cursor: pointer;
  border: 2px solid #F0F8FF;
  border-radius: 15px;
}
footer .footer-text button a {
  color: #F0F8FF;
  outline: none;
  text-decoration: none;
}
footer .footer-text button:hover {
  background-color: #F0F8FF;
  border: 2px solid #6F5E76;
  border-radius: 15px;
}
footer .footer-text button:hover a {
  color: #6F5E76;
}
.top-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.top-section h1 {
  position: relative;
  bottom: 6rem;
  font-size: 9rem;
  margin-bottom: 2rem;
  color: #373E40;
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: #F1DEDE;
}
@media (max-width: 500px) {
  .top-section h1 {
    bottom: 1rem;
    color: #F1DEDE;
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: #373E40;
  }
}
.top-section .book-pic {
  position: relative;
  bottom: 5rem;
  margin-bottom: 2rem;
  width: 60%;
  border: 1px solid #A39BA8;
  border-radius: 3rem;
}
@media (max-width: 500px) {
  .top-section .book-pic {
    display: none;
  }
}
.top-section .top {
  font-size: 2.5rem;
  width: 70%;
  text-align: center;
}
@media (max-width: 500px) {
  .top-section .top {
    width: 50%;
  }
}
.top-section .signbtn {
  width: 8rem;
  height: 2rem;
  background-color: #FCFCFC;
  border: 1px solid #373E40;
  text-align: center;
  margin-top: 1.5rem;
  border-radius: 5px;
}
.top-section .signbtn:hover,
.top-section .signbtn:focus {
  background-color: #BDD4E7;
}
.top-section .signdrop {
  position: relative;
  display: inline-block;
}
.top-section .signdrop-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.top-section .section-bar:hover {
  position: relative;
  width: 95%;
  background-color: #6F5E76;
  border: 0.1rem solid #BDD4E7;
  display: block;
  z-index: 999;
}
.top-section .signdrop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.top-section .signdrop-content a:hover {
  background-color: black;
}
.top-section .show {
  display: block;
}
.top-section .section-bar {
  background-color: #BDD4E7;
  border: 0.1rem solid #6F5E76;
  width: 95%;
  height: 2rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}
.top-section .section-bar:hover {
  position: relative;
  width: 95%;
  background-color: #6F5E76;
  border: 0.1rem solid #BDD4E7;
  display: block;
}
.top-section h2 {
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.top-section .btm {
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
  margin-bottom: 2rem;
}
.btm-section {
  /* Styles the lightbox, removes it from sight and adds the fade-in transition */
}
.btm-section .section-bar {
  background-color: #BDD4E7;
  width: 95%;
  height: 2rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  border: 0.1rem solid #6F5E76;
  border-radius: 10px;
}
.btm-section .section-bar:hover {
  position: relative;
  width: 95%;
  background-color: #6F5E76;
  border: 0.1rem solid #BDD4E7;
  display: block;
}
.btm-section h2 {
  font-size: 4rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.btm-section .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  align-items: center;
}
@media (max-width: 500px) {
  .btm-section .grid {
    display: flex;
    flex-flow: column wrap;
  }
}
.btm-section .grid img {
  border: 1px solid black;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}
@media (max-width: 500px) {
  .btm-section .grid img {
    margin: 1rem;
  }
}
.btm-section .grid .book1:hover {
  opacity: 0.5;
  box-shadow: 8px 8px 5px 0px rgba(156, 1, 177, 0.534);
}
.btm-section .popup-target {
  position: fixed;
  top: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  max-width: 55%;
  height: 55%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 500px) {
  .btm-section .popup-target {
    background: rgba(2, 164, 192, 0.836);
  }
}
.btm-section .popup-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 70%;
  max-height: 70%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
@media (max-width: 500px) {
  .btm-section .popup-target img {
    height: 55%;
    width: 55%;
  }
}
.btm-section a.popup-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -1px;
  right: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.btm-section a.popup-close:before {
  content: "";
  display: block;
  height: 35px;
  width: 25px;
  background: black;
  position: absolute;
  left: 25px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btm-section a.popup-close:after {
  content: "";
  display: block;
  height: 35px;
  width: 25px;
  background: black;
  position: absolute;
  right: 25px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btm-section .popup-target:target {
  opacity: 1;
  top: 0;
  bottom: 1;
}
.btm-section .popup-target:target img {
  max-height: 65%;
  max-width: 100%;
}
.btm-section #caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 20px;
  height: 200px;
  position: absolute;
  top: 5%;
}
.about {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.about .about-us {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 10 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}
@media (max-width: 500px) {
  .about .about-us {
    transform: none;
  }
}
.about .about-us h2 {
  font-size: 6rem;
  margin-top: 13rem;
  color: #373E40;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #F1DEDE;
}
@media (max-width: 500px) {
  .about .about-us h2 {
    color: #F1DEDE;
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: #373E40;
  }
}
.about .open_book {
  width: 65%;
  border: 1px solid #373E40;
}
@media (max-width: 500px) {
  .about .open_book {
    opacity: 0.7;
  }
}
.about .section-bar {
  background-color: #BDD4E7;
  width: 95%;
  height: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0.1rem solid #6F5E76;
  border-radius: 10px;
}
.about .section-bar:hover {
  position: relative;
  width: 95%;
  background-color: #6F5E76;
  border: 0.1rem solid #BDD4E7;
  display: block;
  z-index: 999;
}
.about .about-us p {
  width: 60%;
  margin-bottom: 3rem;
}
.about section h2 {
  font-size: 6rem;
  margin-top: 4rem;
  color: #373E40;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #F1DEDE;
  text-align: center;
}
@media (max-width: 500px) {
  .about section h2 {
    color: #F1DEDE;
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: #373E40;
  }
}
.about #the-team {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.about #the-team .person-id {
  max-width: 50%;
  background-color: #F0F8FF;
  border: 1px solid #6F5E76;
  margin: 1.5rem;
  text-align: center;
  border-radius: 8rem;
}
@media (max-width: 500px) {
  .about #the-team .person-id {
    border-radius: 0rem;
  }
}
.about #the-team .person-id img {
  width: 80%;
  border-radius: 3rem;
  opacity: 0.8;
  margin-bottom: 3rem;
}
@media (max-width: 500px) {
  .about #the-team .person-id img {
    border-radius: 0rem;
  }
}
.about #the-team .person-id h3 {
  font-size: 4rem;
  margin: 1rem;
  color: #373E40;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #F1DEDE;
}
@media (max-width: 500px) {
  .about #the-team .person-id h3 {
    font-size: 3rem;
    color: #F1DEDE;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #373E40;
    padding-top: 1.5rem;
  }
}
.about #the-team .person-id h4 {
  font-size: 3.2rem;
  margin: 0.5rem;
  color: #373E40;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #F1DEDE;
}
@media (max-width: 500px) {
  .about #the-team .person-id h4 {
    font-size: 2.2rem;
    color: #F1DEDE;
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: #373E40;
  }
}
.contact_us {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact_us h1 {
  overflow: hidden;
  color: #6F5E76;
  white-space: nowrap;
  margin: 1rem auto;
  letter-spacing: 0.15em;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}
.contact_us p {
  display: flex;
  text-align: center;
  padding: 1%;
  font-size: 2rem;
  overflow: hidden;
  margin: 1rem auto;
  letter-spacing: 0.15em;
  animation-duration: 5s;
  animation-name: contacts;
}
@keyframes contacts {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 33rem;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}
