.about {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;

     .about-us {
            display: flex;
            flex-flow:column nowrap;
            justify-content: center;
            align-items: center;
            flex: 10 auto;
            position: relative;
            height: 100vh;
            transform: translateZ(-1px) scale(2);
            z-index: -1;

              @media @phone {
            // flex: auto; 
                transform: none;
            }

        }

        .about-us h2 {
            font-size: 6rem;
            margin-top:13rem;
            // color: @main-color;
            color: @onyx;
            -webkit-text-stroke-width: .1rem;
            -webkit-text-stroke-color: @pale-pink;

                @media @phone {
                    color: @pale-pink;
                    -webkit-text-stroke-width: .2rem;
                    -webkit-text-stroke-color: @onyx;
                }
        }

        .open_book {
            width: 65%;
            border:1px solid @onyx;

                @media @phone {
                    opacity: .7;
                }
            }

        .section-bar {
            background-color: @pale-aqua;
            width: 95%;
            height: 2rem;
            margin-top: 3rem; 
            margin-bottom: 3rem;
            border: @old-lav-b;
            border-radius: 10px;
        }

        .section-bar:hover {
            position:relative;
            width: 95%;
            background-color: @old-lav;
            border: @pale-aqua-b;
            display:block;
            z-index:999;
        }

        .about-us p{
            width: 60%;
            margin-bottom: 3rem;

        }

        section h2 {
            font-size: 6rem;
            margin-top:4rem;
            color: @onyx;
            -webkit-text-stroke-width: .1rem;
            -webkit-text-stroke-color: @pale-pink;
            text-align: center;

            @media @phone {
                color: @pale-pink;
                -webkit-text-stroke-width: .2rem;
                -webkit-text-stroke-color: @onyx;
            }
        }

        #the-team {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            .person-id {
                max-width: 50%;
                background-color: @alt-color;
                border: 1px solid @old-lav;
                margin: 1.5rem;
                text-align: center;
                border-radius: 8rem;

                @media @phone {
                    border-radius: 0rem;
                }

                img {
                    width: 80%;
                    border-radius: 3rem;
                    opacity: .8;
                    margin-bottom: 3rem;

                     @media @phone {
                        border-radius: 0rem;
                    }
                }


                h3 {
                    font-size: 4rem;
                    margin: 1rem;
                    color: @onyx;
                    -webkit-text-stroke-width: .1rem;
                    -webkit-text-stroke-color: @pale-pink;

                     @media @phone {
                        font-size: 3rem;
                        color: @pale-pink;
                        -webkit-text-stroke-width: .1rem;
                        -webkit-text-stroke-color: @onyx;
                        padding-top: 1.5rem;
                     }
                }

                h4 {
                    font-size: 3.2rem;
                    margin: .5rem;
                    color: @onyx;
                    -webkit-text-stroke-width: .1rem;
                    -webkit-text-stroke-color: @pale-pink;

                     @media @phone {
                        font-size: 2.2rem;
                        color: @pale-pink;
                        -webkit-text-stroke-width: .05rem;
                        -webkit-text-stroke-color: @onyx;
                     }
                }
            }
        }
}


//**Old Code** *Please pay no attention to it, I just was not ready to delete it yet.*

// .the-team {
// display: flex;
// flex-flow: row wrap;
// justify-content: center;
// align-items: center;

// @media @phone {
// flex-flow: column wrap;
// }

// h2 {
// font-size: 6rem;
// margin-top:4rem;
// color: @onyx;
// -webkit-text-stroke-width: .1rem;
// -webkit-text-stroke-color: @pale-pink;

// @media @phone {
// color: @pale-pink;
// -webkit-text-stroke-width: .1rem;
// -webkit-text-stroke-color: @onyx;

// }
// }

// }

// .box {
// width: 45%;
// background-color: #F3F3F7;
// border: 1px solid black;
// margin: 1.5rem;

// @media @phone {
// background-color: #F9F9FD;
// }
// }

// .coders {
// width: 40%;
// border-radius: 30%;
// opacity: .8;

// @media @phone {
// display: none; 
// }
// }

// h4 {
// font-size: 2rem;
// margin-top: .5rem;
// margin-bottom: .5rem;
// }

// a {
// text-decoration: none;
// font-size: 1rem;
// color: black;
// }

// .btn {
// display: none;

// @media @phone {
// display: block;
// width: 8rem;
// height: 2rem;
// text-align: center;
// background-color: #FAF6F6;
// border: 1px solid #A39BA8;
// text-align: center;
// padding-top: .3rem;
// border-radius: 5px;
// }
// }

// .the-team h3 {
// font-size: 5rem;
// margin-top:4rem;
// // color: @main-color;
// color: #373E40;

// @media @phone {
// text-align: center;
// padding-bottom: 3rem;
// }
// }

// .the-team p {
// font-size: 1.5rem;
// width: 80%;

// @media @phone {
// width: 100%;
// text-align: center;
// }
// }



