.top-section { 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

        h1 {
            position: relative;
            bottom: 6rem;
            font-size:9rem;
            margin-bottom: 2rem;
            color: @onyx;
            -webkit-text-stroke-width: .2rem;
            -webkit-text-stroke-color: @pale-pink;

            @media @phone {
                bottom: 1rem;
                color: @pale-pink;
                -webkit-text-stroke-width: .2rem;
                -webkit-text-stroke-color: @onyx;
            }
        }

        .book-pic {
            position: relative;
            bottom: 5rem;
            margin-bottom: 2rem;
            width: 60%;
            border: 1px solid #A39BA8;
            border-radius: 3rem;

            @media @phone {
                display: none; 
            }
        }

        .top {
            font-size: 2.5rem;
            width: 70%;
            text-align: center;

                @media @phone {
                    width: 50%;
                }
            }

        .signbtn {
            width: 8rem;
            height: 2rem;
            text-align: center;
            background-color: #FCFCFC;
            border: 1px solid #373E40;
            text-align: center;
            margin-top: 1.5rem;
            border-radius: 5px;
        }
    
        .signbtn:hover, .signbtn:focus {
            background-color: #BDD4E7;
        }


        .dropdown {
            position: relative;
            display: inline-block;
        }


        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }


        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }


        .dropdown-content a:hover {
            background-color: #ddd
            }


        .show {
            display:block;
        }

        .section-bar {
            background-color: @pale-aqua;
            border: @old-lav-b;
            width: 95%;
            height: 2rem;
            margin-top: 3rem; 
            margin-bottom: .5rem;
            border-radius: 10px;
        }

        .section-bar:hover {
            position:relative;
            width: 95%;
            background-color: @old-lav;
            border: @pale-aqua-b;
            display:block;
            z-index:999;
        }

        h2 {
            font-size: 4rem;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        .btm {
            font-size: 1.5rem;
            width: 60%;
            text-align: center;
            margin-bottom: 2rem;
        }
        

}

.btm-section {

      .section-bar {
            background-color: @pale-aqua;
            width: 95%;
            height: 2rem;
            margin-top: 3rem; 
            margin-bottom: .5rem;
            margin-left: 2rem;
            border: @old-lav-b;
            border-radius: 10px;
        }

            .section-bar:hover {
                position:relative;
                width: 95%;
                background-color: @old-lav;
                border: @pale-aqua-b;
                display:block;
                z-index:999;
            }

        h2 {
            font-size: 4rem;
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

            .grid { 
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                grid-gap: 1rem;
                align-items: center;

                @media @phone {
                    display: flex;
                    flex-flow: column wrap;
                }
            }
            .grid img {
                border: 1px solid black;
                box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
                max-width: 100%;

                @media @phone {
                    margin: 1rem;
                }
            }

            .grid .book1:hover {
                opacity: .5;
                box-shadow: 8px 8px 5px 0px  rgba(156, 1, 177, 0.534);
            }

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

        .popup-target {
            position: fixed;
            top: 100%;
            width: 100%;
            background: rgba(0,0,0,.7);
            max-width: 55%;
            height: 55%;
            opacity: 0;
            -webkit-transition: opacity .5s ease-in-out;
            -moz-transition: opacity .5s ease-in-out;
            -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;
            overflow: hidden;

            @media @phone {
                background: rgba(2, 164, 192, 0.836)
            }
        }

        //styles and adds transtion to the picture

        .popup-target img {
            margin: auto;
            position: absolute;
            top: 0;
            left:0;
            right:0;
            bottom: 0;
            max-width: 70%;
            max-height: 70%;
            box-shadow: 0px 0px 8px rgba(0,0,0,.3);
            box-sizing: border-box;
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;

            @media @phone {
                height: 55%;
                width: 55%;
            }
        }

        a.popup-close {
            display: block;
            width:50px;
            height:50px;
            box-sizing: border-box;
            background: white;
            color: black;
            text-decoration: none;
            position: absolute;
            top: -1px;
            right: 0;
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }

        //provides the left line of the "X"

        a.popup-close:before {
        content: "";
            display: block;
            height: 35px;
            width: 1px;
            background: black;
            position: absolute;
            left: 25px;
            top:10px;
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            transform:rotate(45deg);
        }

        //provides the right line of the "X"

        a.popup-close:after {
        content: "";
            display: block;
            height: 35px;
            width: 1px;
            background: black;
            position: absolute;
            right: 25px;
            top:10px;
            -webkit-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            -o-transform:rotate(-45deg);
            transform:rotate(-45deg);
        }

        //performs animation 

        .popup-target:target {
            opacity: 1;
            top: 0;
            bottom: 1;
        }

        .popup-target:target img {
            max-height: 100%;
            max-width: 100%;
        }

        //caption to picture

        #caption {
            margin: auto;
            display: block;
            width: 100%;
            max-width: 700px;
            text-align: center;
            color: black;
            padding: 30px;
            height: 200px;
            position: absolute;
            top: 10%;
        
        }

}






