.top-section { 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

        h1 {
            font-size:7rem;
            margin-bottom: 2rem;
            color: #7BB2D9;

            @media @phone {
                font-size: 6rem;
            }
        }

        h1:hover {
            position:relative;
            bottom: -3rem;
            width: 200px;
            height:auto;
            display:block;
            color: #C1CAD6;
            z-index:999;

             @media @phone {
                width: 160px;
            }
        }

        .book-pic {
            margin-bottom: 2rem;
            width: 40%;
            border: 1px solid #A39BA8;
            border-radius: 3rem;
        }

        .top {
            font-size: 2.5rem;
            width: 70%;
            text-align: center;

                @media @phone {
                    width: 50%;
                }
            }

            a {
                text-decoration: none;
                font-size: 1.5rem;
                color: black;
            }

            a .btn {
                width: 8rem;
                height: 2rem;
                text-align: center;
                background-color: #FAF6F6;
                border: 1px solid #A39BA8;
                text-align: center;
                margin-top: 1.5rem;
                border-radius: 5px;
            }

            a .btn:hover {
                background-color: #CDCACA;
            }

            .section-bar {
                background-color: #C1CAD6;
                width: 95%;
                height: 2rem;
                margin-top: 3rem; 
                margin-bottom: .5rem;
                border: .5px solid black;
                border-radius: 10px;
            }

                .section-bar:hover {
                position:relative;
                width: 90%;
                background-color: #7BB2D9;
                display:block;
                z-index:999;
            }

            h2 {
                font-size: 4rem;
                margin-top: 3rem;
                margin-bottom: 2rem;
        }

            .btm {
                font-size: 1.5rem;
                width: 60%;
                text-align: center;
            }
}