.nav-bar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 1rem;
}

.nav-bar button {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  border: solid 0.1rem black;
  float: right;
  cursor: pointer;
}
.nav-bar button img {
  width: 150%;
  height: 150%;
}
.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
.dropdown a:hover {
  background-color: gray;
  color: white;
}
.nav-bar:hover .dropdown {
  display: block;
  margin-top: 6rem;
}
.border {
    width: 85%;
    height: 60px;
    border: 1px solid black;
}

