.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    align-content: center;
     background-color: #F7EDF0;
     height: 2.5rem;
     border-bottom: 1px solid black;
     margin-bottom: 1rem;

    nav {
       font-size: 1.5rem;
      
    }

    a {
        text-decoration: none;
        padding: 2rem;
    }
}